body {
  margin: 0;
  font-family: "Georgia", serif;
  background: #f4f4f4;
}

/* AUTH */
#authPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  width: 400px;
}

.auth-box h1 {
  font-size: 64px;
  text-align: center;
  border-bottom: 3px solid black;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  font-size: 14px;
}

.auth-box button {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  margin-top: 20px;
  letter-spacing: 1px;
}

.auth-box p {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #ccc;
  background: #fff;
}

.logo {
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.nav div {
  padding: 12px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.nav .active {
  background: black;
  color: white;
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 40px;
}

.main h1 {
  font-size: 64px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
}

.section-title {
  margin-top: 40px;
  font-size: 28px;
}

/* CARD */
.card {
  background: black;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card div {
  text-align: center;
}

.card small {
  font-size: 12px;
  letter-spacing: 1px;
}

.card h2 {
  margin: 10px 0 0;
}

.card.single {
  display: block;
}

/* Dashboard multiple card fix */
.dashboard-cards div {
  flex: 1;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: black;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

/* BUTTON */
.top-btn {
  float: right;
  background: black;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* ICONS */
.icon {
  cursor: pointer;
  margin: 0 5px;
}
.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.view-all {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
}

.view-all:hover {
  text-decoration: underline;
}